name: Ejecución Programada API

on:
  schedule:

  workflow_dispatch: # Permite ejecutarlo manualmente desde GitHub para probar

jobs:
  call-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Ejecutar script
        run: node index.js
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
